.search-styles {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

/* .center {
  text-align: center;
} */

@media (max-width: 550px) {
  .search-styles {
    width: 100%;
  }
}

@media (min-width: 550px) and (max-width: 734px) {
  .search-styles {
    width: 70%;
  }
}

@media (min-width: 734px) and (max-width: 992px) {
  .search-styles {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .search-styles {
    width: 35%;
  }
}