.table-styles {
  padding-top: 50px;
  background: #ECEFF1;
  height: 100%;
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

@media (max-width: 768px) {
  .table {
    font-size: 35%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .table {
    font-size: 60%;
  }
}

@media (min-width: 992px) {
  .table {
    font-size: 80%;
  }
}

